

.left {
    display:inline-block;
    margin:30px;
}

.right{
    display:inline-block;
    margin:30px;
}

.add_note{
    margin:30px;    
}

.container {
    display:flex;
    align-items: center;
}