/* .folder_list{
    width:100%;
    vertical-align: top;
} */


.btn-secondary {
    color: #fff;
    background-color: #51585D;
    border-color: #6c757d;
}

a {
    color: #0000F5;
    text-decoration: none;
    background-color: transparent;
}