.highlightedFolder{
    color:black;
    font-size:1.5rem;
    background-color: #fff2a8;
    
}
a:link {
    text-decoration: none;
  }

  
 @media (max-width:476px){
    .btn btn-secondary btn-sm{
        font-size:12px;
        padding:1%;
        text-align:left;
        vertical-align:baseline;
    }
 }