/* .add_note{
    text-align: center;
    
}
.button{
    margin:30px;
    padding:15px;
    float:right;
    
} */

.padding{
    padding:5%;
   }
   
   .margin {
       margin:5%;
   }

   .btn-primary {
    color: #ffffff;
    background-color: #004794;
    /* border-color: #007bff; */
}